* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: red;

    h1 {
        background-color: yellow;
        color: blue;
    }

    p {
        background-color: green;
        color: aqua;
    }
}